<!DOCTYPE html>
<html lang="en" class="no-js">

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' media='only screen and (max-device-width: 480px)' href='/stylesheets/style.css' />
    <title>3D Man Color Customizer App</title>

    <meta name="author" content="ROB" />
    <link rel="shortcut icon" href="/images/Immagine.svg">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <!-- We add the loader CSS here so that assets don't pop in before the bundled CSS is loaded -->
    <style>
        .loading {
            position: fixed;
            z-index: 50;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #f1f1f1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader {
            -webkit-perspective: 120px;
            -moz-perspective: 120px;
            -ms-perspective: 120px;
            perspective: 120px;
            width: 100px;
            height: 100px;
        }

        .loader::before {
            content: "";
            position: absolute;
            left: 25px;
            top: 25px;
            width: 50px;
            height: 50px;
            background-color: #ff0000;
            animation: flip 1s infinite;
        }

        @keyframes flip {
            0% {
                transform: rotate(0);
            }

            50% {
                transform: rotateY(180deg);
            }

            100% {
                transform: rotateY(180deg) rotateX(180deg);
            }
        }
    </style>
</head>

<body>
    <!-- The loading element overlays all else until the model is loaded, at which point we remove this element from the DOM -->
    <div class="loading" id="js-loader">
        <div class="loader"></div>
    </div>
    <!-- Just a quick notice to the user that it can be interacted with -->
    <span class="drag-notice" id="js-drag-notice">Drag to rotate 360&#176;</span>

    <!-- These toggle the the different parts of the chair that can be edited, note data-option is the key that links to the name of the part in the 3D file -->

    <!-- <div class="options">
            <div class="option hide cavigliasx" data-option="cavigliasx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/legs.png" alt="" />
            </div>
            <div class="option hide FinalBaseMesh001" data-option="FinalBaseMesh001">
                <img src="/images/Immagine.svg" alt="" />
            </div>
            <div class="option hide femoralesx" data-option="femoralesx">
                <img src="/public/images/femoralesx.png" alt="" />
            </div>
            <div class="option hide gluteosx" data-option="gluteosx">
                <img src="/public/images/gluteosx.png" alt="" />
            </div>
            <div class="option hide piedesx" data-option="piedesx">
                <img src="/public/images/piedesx.png" alt="" />
            </div>
            <div class="option hide polpacciosx" data-option="polpacciosx">
                <img src="/public/images/polpacciosx.png" alt="" />
            </div>
            <div class="option hide pube" data-option="pube">
                <img src="/public/images/pube.png" alt="" />
            </div>
            <div class="option hide quadricipitesx" data-option="quadricipitesx">
                <img src="/public/images/quadricipitesx.png" alt="" />
            </div>
            <div class="option hide stincosx" data-option="stincosx">
                <img src="/images/Immagine.png" alt="" />
            </div>
        </div>
        <div class="options2">
            <div class="option2 hide cavigliadx" data-option="cavigliadx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/cushions.svg" alt="" />
            </div>
            <div class="option2 hide femoraledx" data-option="femoraledx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide gluteodx" data-option="gluteodx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide piededx" data-option="piededx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide polpacciodx" data-option="polpacciodx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide quadricipitedx" data-option="quadricipitedx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide stincodx" data-option="stincodx">
                <img src="/public/images/Immagine.png" alt="" />
            </div>
        </div> -->

    <!-- The canvas element is used to draw the 3D scene -->
    <canvas id="c"></canvas>
    <!-- <div class="controls">
        <div class="info">
            <div class="info__message">
                <p><strong></strong></p>
            </div>
        </div>
    </div> -->
    <h2 id="device"></h2>
    <!-- This tray will be filled with colors via JS, and the ability to slide this panel will be added in with a lightweight slider script (no dependency used for this) -->
    <div id="js-tray" class="tray">
        <div id="js-tray-slide" class="tray__slide"></div>
    </div>

    <div class="frame">
        <h1 class="frame__title"><strong>Melanoma place selection:
            </strong> </h1>
    </div>

    <!-- The main three.js file -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>
    <!-- This brings in the ability to load custom 3D objects in the .gltf file format. Blender allows the ability to export to this format out the box -->
    <script src='https://cdn.jsdelivr.net/gh/mrdoob/three.js@r92/examples/js/loaders/GLTFLoader.js'></script>
    <!-- This is a simple to use extension for three.js that activates all the rotating, dragging and zooming controls we need for both mouse and touch, there isn't a clear CDN for this that I can find -->
    <script src='https://threejs.org/examples/js/controls/OrbitControls.js'></script>
    <script src="/javascripts/threex.domevents.js"></script>
    <script src="/javascripts/script1.js"></script>
</body>

</html>