body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

* {
    touch-action: manipulation;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.frame {
    top: 0;
    position: absolute;
    left: 0;
    padding: 1rem;
}

.frame__title {
    font-size: 1.5rem;
    display: inline-block;
}

.frame__links {
    display: inline-block;
    margin: 0 2rem;
    text-transform: lowercase;
}

.frame__links a {
    display: inline-block;
    margin: 0 0.25rem;
    text-decoration: none;
    color: red;
}

.frame__links a:focus,
.frame__links a:hover {
    text-decoration: underline;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.options {
    position: absolute;
    margin-top: 20px;
    left: 11px;
}

.option {
    background-size: cover;
    background-position: 50%;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    height: 70px;
    width: 75px;
    display: none;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
    cursor: pointer;
    
}


.option.hide {
    display: none;
}

.option:hover {
    border-left: 5px solid white;
    width: 100px;
    margin-left: 3px;
  
}

/* .option.--is-active {
    border-right: 5px solid red;
    width: 90px;
    cursor: default;
    
} */

.option.--is-activated {
    border-left: 5px solid green;
    width: 100px;
    cursor: default;
    display: flex;
}



.option.--is-activated:hover {
    border-left:5px solid green;
}

.option img {
    height: 100%;
    width: auto;
    pointer-events: none;
}



.options2 {
    position: absolute;
    margin-top: 20px;
    left: 80px;
}


.option2 {
    background-size: cover;
    background-position: 50%;
    background-color: white;
    margin-left: 40px;
    margin-bottom: 5px;
    padding: 10px;
    height: 70px;
    width: 75px;
    display: none;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
    cursor: pointer;
    
}


.option2.hide {
    display: none;
}

.option2:hover {
    border-left: 5px solid white;
    width: 100px;
    margin-left: 45px;
  
}

/* .option.--is-active {
    border-right: 5px solid red;
    width: 90px;
    cursor: default;
    
} */

.option2.--is-activated {
    border-left: 5px solid green;
    width: 100px;
    cursor: default;
    display: flex;
}



.option2.--is-activated:hover {
    border-left:5px solid green;
}

.option2 img {
    height: 100%;
    width: auto;
    pointer-events: none;
}



.info {
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
}

.info p {
    margin-top: 0;
}

.tray {
    width: 100%;
    height: 50px;
    position: relative;
    overflow-x: hidden;
}

.tray__slide {
    position: absolute;
    display: flex;
    left: 100px;
    /*   transform: translateX(-50%);
  animation: wheelin 1s 2s ease-in-out forwards; */
}

.tray__swatch {
    transition: 0.1s ease-in;
    height: 50px;
    min-width: 50px;
    flex: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
}

.tray__swatch:nth-child(5n+5) {
    margin-right: 20px;
}

.drag-notice {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 10em;
    height: 10em;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5em;
    background: rgb(241, 53, 53);
    position: absolute;
}

.drag-notice.start {
    -webkit-animation: popout 0.25s 3s forwards;
    animation: popout 0.25s 3s forwards;
    
}

.drag-notice.move {
    -webkit-animation: movee 0.7s 3s forwards;
    animation: movee 0.7s 3s forwards;
    
}

@keyframes movee {
    0%{
        transform: translate(0);
    }

    /* 50%{
        transform: translate(100px);
    } */

    100%{
        transform: translate(500px, 500px);
    }
}

@-webkit-keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes popout {
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes wheelin {
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media (max-width: 960px) {
    .options {
        top: 0;
    }

    .info {
        padding: 0 1em 1em 0;
    }

    .info__message {
        display: flex;
        align-items: flex-end;
    }

    .info__message p {
        margin: 0;
        font-size: 0.7em;
    }

    .frame {
        left: auto;
        right: 0;
        padding-left: 6rem;
    }

    .frame__links {
        display: block;
        margin: 0;
        text-align: right;
    }
}

@media (max-width: 720px) {
    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1em 1em;
    }

    .info__message {
        margin-bottom: 1em;
    }
}

@media (max-width: 680px) {
    .info {
        padding: 1em 2em;
    }
    .option.hide {
        display: none;
    }

    .info__message {
        display: none;
    }

    .options {
        bottom: 50px;
    }

    .option {
        margin-bottom: 1px;
        padding: 5px;
        height: 25px;
        width: 25px;
        display: flex;
    }
    .option.--is-activated {
        border-left: 2px solid green;
        width: 32px;
        cursor: default;
        display: flex;
    }

    /* .option.--is-active {
        border-right: 2px solid red;
        width: 47px;
    } */

    .option img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }


    .options2 {
        top: 0px;  
        left: 10px;
    }

    .option2 {
        margin-bottom: 1px;
        padding: 5px;
        height: 25px;
        width: 25px;
        display: flex;
        
    }
    
    
    .option2.hide {
        display: none;
    }
    
    .option2.--is-activated {
        border-left: 2px solid green;
        width: 32px;
        cursor: default;
        display: flex;
    }
    

    
    .option2 img {
        height: 100%;
        width: auto;
        pointer-events: none;
    }

    .drag-notice {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        width: 6em;
        height: 6em;
        box-sizing: border-box;
        font-size: 0.9em;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        border-radius: 5em;
        background: rgb(241, 53, 53);
        position: absolute;
    }
    
    .drag-notice.start {
        -webkit-animation: popout 0.25s 3s forwards;
        animation: popout 0.25s 3s forwards;
        
    }
    
    .drag-notice.move {
        -webkit-animation: movee 0.4s 4.8s forwards;
        animation: movee 0.4s 4.8s forwards;
        
    }
    
    @keyframes movee {
        0%{
            transform: translate(0);
        }
    
        /* 50%{
            transform: translate(100px);
        } */
    
        100%{
            transform: translate(130px, 300px);
        }
    }

}