<!DOCTYPE html>
<html lang="en" class="no-js">

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel='stylesheet' media='only screen and (max-device-width: 480px)' href='/stylesheets/style.css' /> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <title>3D Man Color Customizer App</title>

    <meta name="author" content="ROB" />
    <link rel="shortcut icon" href="/images/Immagine.svg">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <style>
        #moda {
            position: absolute;

            top: 1%;
            left: 1%;
        }

        .modal-lg {
            max-width: 100% !important;
        }

        .modal-dialog,
        .modal-content {
            height: 90%;
        }
    </style>
</head>

<body>
    <!-- The loading element overlays all else until the model is loaded, at which point we remove this element from the DOM -->

    <!-- Just a quick notice to the user that it can be interacted with -->
    <!-- <span class="drag-notice" id="js-drag-notice">Drag to rotate 360&#176;</span> -->

    <!-- These toggle the the different parts of the chair that can be edited, note data-option is the key that links to the name of the part in the 3D file -->

    <!-- <div class="options">
            <div class="option hide cavigliasx" data-option="cavigliasx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/legs.png" alt="" />
            </div>
            <div class="option hide FinalBaseMesh001" data-option="FinalBaseMesh001">
                <img src="/images/Immagine.svg" alt="" />
            </div>
            <div class="option hide femoralesx" data-option="femoralesx">
                <img src="/public/images/femoralesx.png" alt="" />
            </div>
            <div class="option hide gluteosx" data-option="gluteosx">
                <img src="/public/images/gluteosx.png" alt="" />
            </div>
            <div class="option hide piedesx" data-option="piedesx">
                <img src="/public/images/piedesx.png" alt="" />
            </div>
            <div class="option hide polpacciosx" data-option="polpacciosx">
                <img src="/public/images/polpacciosx.png" alt="" />
            </div>
            <div class="option hide pube" data-option="pube">
                <img src="/public/images/pube.png" alt="" />
            </div>
            <div class="option hide quadricipitesx" data-option="quadricipitesx">
                <img src="/public/images/quadricipitesx.png" alt="" />
            </div>
            <div class="option hide stincosx" data-option="stincosx">
                <img src="/images/Immagine.png" alt="" />
            </div>
        </div>
        <div class="options2">
            <div class="option2 hide cavigliadx" data-option="cavigliadx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/cushions.svg" alt="" />
            </div>
            <div class="option2 hide femoraledx" data-option="femoraledx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide gluteodx" data-option="gluteodx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide piededx" data-option="piededx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide polpacciodx" data-option="polpacciodx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide quadricipitedx" data-option="quadricipitedx">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1376484/back.svg" alt="" />
            </div>
            <div class="option2 hide stincodx" data-option="stincodx">
                <img src="/public/images/Immagine.png" alt="" />
            </div>
        </div> -->

    <!-- The canvas element is used to draw the 3D scene -->

    <!-- <canvas id="c"></canvas> -->




    <!-- <div class="controls">
        <div class="info">
            <div class="info__message">
                <p><strong></strong></p>
            </div>
        </div>
    </div> -->

    <!-- Button trigger modal -->
    <button id="moda" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div id="my_modal" class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <canvas id="c"></canvas>
                    <button type="button" class="btn btn-primary" onclick="changeSelectedColor('blue')">Dolore
                        lieve</button>
                    <button type="button" class="btn btn-danger" onclick="changeSelectedColor('red')">Dolore
                        devastante</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="frame">
        <h1 class="frame__title"><strong>Melanoma place selection:
            </strong> </h1>
    </div> -->

    <!-- The main three.js file -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>
    <!-- This brings in the ability to load custom 3D objects in the .gltf file format. Blender allows the ability to export to this format out the box -->
    <script src='https://cdn.jsdelivr.net/gh/mrdoob/three.js@r92/examples/js/loaders/GLTFLoader.js'></script>
    <!-- This is a simple to use extension for three.js that activates all the rotating, dragging and zooming controls we need for both mouse and touch, there isn't a clear CDN for this that I can find -->
    <script src='https://threejs.org/examples/js/controls/OrbitControls.js'></script>

    <script src="/javascripts/script1.js"></script>
</body>

</html>